<%- include('./templates/cabecera',{tituloWeb:'Clientes'}) %>
<%- include('./templates/titulo',{tituloSeccion:'Clientes'}) %>
<%- include('./templates/navbar') %>





 <!--  
            <div >
                <div>
					<label>Cedula</label>
					<label>Nombre Completo</label>
					<label>Correo Electronico</label>
				</div>
				<div>
					<input type="text" name="cedula" value="" >
					<input type="hidden" name="id" value=""> 
					<input type="text" name="nombre" value="">
					<input type="email" name="correo" value="">
				</div>
                <div>
					<label>Direccion</label>
					<label>Telefono</label>
				</div>
				<div>
					<input type="text" name="direccion" value="">
					<input type="text" name="telefono" value="">
				</div>
            </div>
            <div class="contenedorBotones">
                <input type="submit" name="crear" value="Crear">
                <input type="submit" name="consultar" value="Consultar">
                <input type="submit" name="actualizar" value="Actualizar">
                <input type="submit" name="eliminar" value="Eliminar">
                <input type="submit" name="limpiar" value="Limpiar">
            </div>
        
   
	<br>
	<br>
	<hr>

		-->
	<form>
		<div class="container" >
			<br>
			<h2 align="center" class="text-dark">Datos de Cliente</h2>
			
			<a class="btn btn-success btn-block my-4" href="/clientes/crear">
				Crear Nuevo Cliente
			</a>
			<table class="table">
				<thead>
					<tr>
						<th scope="col"># Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
						<th scope="col">Celular</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>

				
					<% if (arrayClientes.length> 0) { %>
						<% arrayClientes.forEach(cliente=> { %>
							<tr>
								<th scope="row">
									<%= cliente.id %>
								</th>
								<td>
									<%= cliente.nombre %>
								</td>
								<td>
									<%= cliente.apellidos %>
								</td>
								<td>
									<%= cliente.cel %>
								</td>
								<td><a href="clientes/<%= cliente.id %>"
									class="btn btn-warning btn-sm">Editar</a></td>
							</tr>

							<% }) %>
								<% } %>
								
						

		
		

		</tbody>
	</table>
</div>
</form>




<%- include('./templates/footer'); %>
