<%- include('./templates/cabecera',{tituloWeb:'Usuarios'}) %>
<%- include('./templates/titulo',{tituloSeccion:'Usuarios'}) %>
<%- include('./templates/navbar') %>

<form>
	<div class="container" >
		<br>
		<h2 align="center" class="text-danger">Datos de Usuario</h2>
		
		<a class="btn btn-success btn-block my-4" href="/usuarios/crearU">
			Crear Nuevo Usuario
		</a>
		<table class="table">
			<thead>
				<tr>
					<th scope="col"># Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Alias</th>
					<th scope="col">Password</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>

			
				<% if (arrayUsuarios.length> 0) { %>
					<% arrayUsuarios.forEach(usuario=> { %>
						<tr>
							<th scope="row">
								<%= usuario.id %>
							</th>
							<td>
								<%= usuario.nombre %>
							</td>
							<td>
								<%= usuario.alias %>
							</td>
							<td>
								<%= usuario.password %>
							</td>
							<td><a href="usuarios/<%= usuario.id %>"
								class="btn btn-warning btn-sm">Editar</a></td>
						</tr>

						<% }) %>
							<% } %>

	</tbody>
</table>
</div>
</form>

